
@media only screen and (max-width: 800px){
    .box-main{
        width: 60%;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        height: 322px;
        transition: 0.5s ease-out;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
    }
    .rightNav{
        width: 80%;
        text-align: center;
        margin: 0;
    }
    .secLeft{
        width: 76%;
        display: flex;
        flex-direction: column-reverse;
        margin: 40px auto;
        text-align: center;
    }
    .secRight{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        margin: 40px auto;
        text-align: center;
    }
    .thumbnail img{
        width: 36%;
    }
    .paras{
        width: 80%;
    }
    .btn-sm{
        display: block;
        margin: 10px auto;
    }
    .burger{
        position: absolute;
        cursor: pointer;
        right: 2%;
        top: 14px;
    }
    .line{
        border: 2px solid white;
        margin: 5px;
        width: 32px;
    }
    .v-class-resp{
        /* opacity: 0; */
        display: none;
    }
    .h-class-resp{
        height: 61px;
        /* display: none; */
        /* opacity: 1; */
    }
}

@media only screen and (max-width: 706px){
    .box-main{
        flex-direction: column-reverse;
        text-align: center;
        width: 90%;
    }
    .burger{
        top: 4px;
    }
    .line{
        width: 26px;
        margin: 4px;
    }
    .h-class-resp{
        height: 40px;
    }
    .secLeft{
        width: 100%;
    }
    .secRight{
        width: 100%;
    }
    .thumbnail img{
        width: 52%;
    }
}


